@{
    ViewData["Title"] = "Startseite";
}

<h2>@ViewData["Title"]</h2>
<p>
    Die Mail Manager Web App hilft Dir beim Verwalten Deines Mail Servers.
    Du kannst damit Benutzer und Aliase Deiner Dom&auml;ne verwalten.
</p>
<p>
    Diese Web App wurde speziell f&uuml;r den Mailserver nach der
    <a href="https://thomas-leister.de/mailserver-debian-stretch/">Anleitung von Thomas Leister</a>
    entwickelt.
</p>
<p>
    Der Quellcode und eine Installationsanleitung ist auf Github <i class="fa fa-github fa-lg"></i> <a href="https://github.com/bihalu/MailManager">https://github.com/bihalu/MailManager</a> hinterlegt.
</p>