@{
    ViewData["Title"] = "Startseite";
}
<h2>@ViewData["Title"]</h2>
<p>
    Die Mail Manager Web App hilft Dir beim Verwalten Deines Mail Servers.
    Du kannst damit Benutzer und Aliase Deiner Dom&auml;ne verwalten.
    Allerdings kannst Du nicht diese Web App verwenden, sondern Du musst sie 
    auf Deinem eigenen Mailserver installieren.
</p>
<br />
<p>
    Diese Web App wurde speziell f&uuml;r den Mailserver nach der
    <a href="https://thomas-leister.de/mailserver-debian-stretch/">Anleitung von Thomas Leister</a>
    entwickelt, bzw. f&uuml;r die Datenbank. Die Dom&auml;nen, Benutzer, Aliasse und TlsPolicies 
    werden n&auml;mlich in einer Datenbank gespeichert.
</p>
<br />
<p>
    Der Quellcode und eine Installationsanleitung ist auf Github 
    <i class="fa fa-github fa-lg"></i> <a href="https://github.com/bihalu/MailManager">https://github.com/bihalu/MailManager</a> hinterlegt.
</p>
<br />
<p>
    <h4>Es gilt die MIT Lizenz:</h4>
</p>
<p>
    <b>Copyright (c) 2018 Hans-Peter Wissenbach</b>
</p>
<p>
    Hiermit wird unentgeltlich jeder Person, die eine Kopie der Software und der
    zugehörigen Dokumentationen (die "Software") erhält, die Erlaubnis erteilt,
    sie uneingeschränkt zu nutzen, inklusive und ohne Ausnahme mit dem Recht,
    sie zu verwenden, zu kopieren, zu verändern, zusammenzufügen, zu
    veröffentlichen, zu verbreiten, zu unterlizenzieren und/oder zu verkaufen,
    und Personen, denen diese Software überlassen wird, diese Rechte zu
    verschaffen, unter den folgenden Bedingungen:
</p>
<p>
    Der obige Urheberrechtsvermerk und dieser Erlaubnisvermerk sind in allen
    Kopien oder Teilkopien der Software beizulegen.
</p>
<p>
    DIE SOFTWARE WIRD OHNE JEDE AUSDRÜCKLICHE ODER IMPLIZIERTE GARANTIE
    BEREITGESTELLT, EINSCHLIEßLICH DER GARANTIE ZUR BENUTZUNG FÜR DEN VORGESEHENEN
    ODER EINEM BESTIMMTEN ZWECK SOWIE JEGLICHER RECHTSVERLETZUNG, JEDOCH NICHT
    DARAUF BESCHRÄNKT. IN KEINEM FALL SIND DIE AUTOREN ODER COPYRIGHTINHABER FÜR
    JEGLICHEN SCHADEN ODER SONSTIGE ANSPRÜCHE HAFTBAR ZU MACHEN, OB INFOLGE DER
    ERFÜLLUNG EINES VERTRAGES, EINES DELIKTES ODER ANDERS IM ZUSAMMENHANG MIT DER
    SOFTWARE ODER SONSTIGER VERWENDUNG DER SOFTWARE ENTSTANDEN.
</p>