@{
    ViewData["Title"] = "Benutzer ändern";
}
<div class="container">
    <h2>@ViewData["Title"]</h2>
    <div class="row">
        <div class="col-md-4">
            <h4>Benutzer: <i class="text-primary">@User.Identity.Name</i></h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">

            Diese Seite ist noch nicht fertig
        </div>
    </div>
</div>